{% layout "layout.liquid" %}
{% block main %}
<div id="map" class="main-map"></div>
<div class="controls">
  <button onclick="toggleWeather()">Toggle Weather</button>
  <button onclick="zoomToUserLocation()">Find My Location</button>
  <select id="layerSelect" class="layer-select" onchange="changeLayer()">
    <option value="radar">Radar</option>
    <option value="clouds">Satellite</option>
  </select>
  <span id="timestamp" class="timestamp"></span>
</div>
{% endblock %}
