---
pagination:
  data: offices
  size: 1
  alias: office
permalink: "office/{{ office.code }}/"
---

{% layout "layout.liquid" %}
{% block main %}
<div class="discussion-wrapper">
  <div id="discussion" class="discussion" data-code="{{ office.code }}">
    <h1 class="discussion-header">{{ office.city }}, {{ office.state }}</h1>
    <p><a href="" id="discussion-source" target="_blank">Source: National Weather Service</a></p>
  </div>
</div>
{% endblock %}
