<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WXD</title>
    <link rel="stylesheet" href="/assets/styles/sanitize.css" />
    <link rel="stylesheet" href="/assets/styles/system-ui.css" />
    <link rel="stylesheet" href="/assets/styles/typography.css" />
    <link rel="stylesheet" href="/assets/styles/ui-monospace.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/leaflet.css" />
  </head>
  <body>
    <div class="site-grid">
      <header class="site-sidebar">
        {% include title %}
        <nav class="site-nav">
          <filterable-list>
            {% for office in offices %}
              {% assign officeURL = "/office/" | append: office.code | append: "/" %}
              {% assign isActive = page.url == officeURL %}
              <li class="{% if isActive %}active{% endif %}">
                <a href="/office/{{ office.code }}">{{ office.city }}, {{ office.state }}</a>
              </li>
            {% endfor %}
          </filterable-list>
        </nav>
        <p class="site-credit"><a href="https://c9r.green" target="_blank">An experiment by Christopher Green</a></p>
      </header>
      <main class="site-main">
        {% block main %}{% endblock %}

      </main>
    </div>
    <script src="/assets/scripts/dayjs.min.js"></script>
    <script src="/assets/scripts/utc.js"></script>
    <script src="/assets/scripts/timezone.js"></script>
    <script src="/assets/scripts/customParseFormat.js"></script>
    <script src="/assets/scripts/leaflet.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/weather-map.js"></script>
  </body>
</html>
