<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WXD</title>

    <meta name="description" content="An experimental website for finding and reading National Weather Service forecast discussions">
    <meta name="theme-color" content="#f3f0e9">

    <link rel="stylesheet" href="/assets/styles/sanitize.css" />
    <link rel="stylesheet" href="/assets/styles/system-ui.css" />
    <link rel="stylesheet" href="/assets/styles/typography.css" />
    <link rel="stylesheet" href="/assets/styles/ui-monospace.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/leaflet.css" />

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="site-grid">
      <header class="site-sidebar">
        <h1 class="site-title">
          <a href="/">
          WXD
          </a>
        </h1>
        <p class="site-subtitle">Weather Forecast Discussion</p>
        <nav class="site-nav">
          <filterable-list>
            {% for office in offices %}
              {% assign officeURL = "/office/" | append: office.code | append: "/" %}
              {% assign isActive = page.url == officeURL %}
              <li class="{% if isActive %}active{% endif %}">
                <a href="/office/{{ office.code }}">{{ office.city }}, {{ office.state }}</a>
              </li>
            {% endfor %}
          </filterable-list>
        </nav>
        <p class="site-credit"><a href="https://c9r.green" target="_blank">An experiment by Christopher Green</a></p>
      </header>
      <main class="site-main">
        {% block main %}{% endblock %}
      </main>
    </div>

    <!-- Template for the filterable-list web component -->
    <template id="filterable-list">
      <style>
        :host {
          display: block;
        }
      </style>
      <input part="search" type="search" placeholder="City or State">
      <ul part="list">
        <slot></slot>
      </ul>
      <div class="no-results" style="display: none;">
        No matching items found
      </div>
    </template>

    <script src="/assets/scripts/dayjs.min.js"></script>
    <script src="/assets/scripts/utc.js"></script>
    <script src="/assets/scripts/timezone.js"></script>
    <script src="/assets/scripts/customParseFormat.js"></script>
    <script src="/assets/scripts/leaflet.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <script src="/assets/scripts/filterable-list.js"></script>
    <script src="/assets/scripts/map.js"></script>
  </body>
</html>
